@model FilRouge_Test_CodeFirst.Data.Entity.Sujet

@{
    ViewData["Title"] = "AddSujet";
}

<h1 style="text-align : center">Rajouter un sujet</h1>


<hr />
<div class="container w-50" style="margin-top: 100px;" id="addQ">
    <div class="row align-items-center justify-content-center">
   @* <div class="col-md-4">*@
        <form asp-action="AddSujet">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SujetName" class="control-label"></label>
                <input asp-for="SujetName" class="form-control" />
                <span asp-validation-for="SujetName" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-between">
                <input type="submit" value="Create" class="btn btn-primary" />
                <div>
                    <a asp-action="Index" class="btn btn-primary">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
