@model FilRouge_Test_CodeFirst.Data.Entity.Sujet

@{
    ViewData["Title"] = "DeleteSujet";
}

<h1>DeleteSujet</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Sujet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SujetName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SujetName)
        </dd>
    </dl>
    
    <form asp-action="DeleteSujet">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
