@model IEnumerable<FilRouge_Test_CodeFirst.Data.Entity.Sujet>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align : center"> Sujet</h1>
<div class="container">

    <button type="button" class="myButton mb-6" onclick="window.location.href='@Url.Action("AddSujet")'">
    @*<a asp-action="AddSujet">Crée un nouveau sujet</a>*@
        Crée un nouveau sujet
    </button>

    <div class="row align-items-center">
<table class="table">
    <thead>
        <tr class="table-primary">
            <th>
                <p>Nom du sujet</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SujetName)
            </td>
                        <td class="text-right justify-content-end">
                            <a asp-action="DeleteSujet" asp-route-id="@item.id"> <div class="buttonAjout3">Supprimer </div> </a>
            </td>
        </tr>
}
    </tbody>
</table>
    </div>
</div>
