@model IEnumerable<FilRouge_Test_CodeFirst.Data.Entity.Sujet>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="AddSujet">Create New Sujet</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SujetName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SujetName)
            </td>
            <td>
                <a asp-action="DeleteSujet" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
