@using Microsoft.AspNetCore.Identity
@using FilRouge_Test_CodeFirst.Data
@using FilRouge_Test_CodeFirst.Models

@{
    Layout = "passageWelcome.cshtml";
}

@model QuizPassageViewModel;
<div class="d-flex vh-100" id="boxLogIn">
    <div class="col-md-4">
        <section id="bienvenuBorder" class="shadow-lg p-4">
            

<h1 style="text-align : center"> Bienvenue sur votre test de compétence</h1>
    <br />
    <p>


                L'évaluation SkillCheck est un outil de validation de vos connaissances de base des différents langages numériques.
                        Participer à SkillCheck vous permettra de créer une base de référence de vos connaissances numériques actuelles;
                        à partir de laquelle vous pourrez commencer à vous améliorer immédiatement. Il est gratuit et ne comprend aucune certification.
    </p>

            <div class="form-group text-center">
        <a asp-controller="Passage" asp-action="PassageQuiz" asp-route-id="@Model.QuizzId" asp-route-questionid="@Model.QuestionId">
            <input type="button" value="Suivant" class="btn btn-primary" />
        </a>
    </div>

    </section>
    </div>
</div>



