@model IEnumerable<FilRouge_Test_CodeFirst.Data.Entity.Level>

<h1 style ="text-align : center"> Level </h1>

<div class="container">

<button type="button" class="myButton mb-6" onclick="window.location.href='@Url.Action("AddLevel")'">
@*<a asp-action="AddLevel">Ajouter un level</a>*@

    Ajouter un level
</button>

    <div class="row align-items-center">

<table class="table">
    <thead>
        <tr class="table-primary">
            <th>
               @* @Html.DisplayNameFor(model => model.LevelName)*@ Level
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LevelName)
                </td>
                        <td class="text-right">
                    <a asp-action="DeleteLevel" asp-route-id="@item.Id"><div class="buttonAjout3"> Supprimer </div> </a>
                </td>
            </tr>
        }
    </tbody>
</table>

    </div>
</div>
