@{
    ViewData["Title"] = "Home Page";
}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<div class="text-center">
    <h1 class="hover-3">Bienvenue</h1>


</div>
@*<div class="mx-auto" style="width: 1000px;">
   <p>test</p>
    <div id="chartContainer" style="height: 400px; width: 60%;"></div>

</div>*@

<main>
	<div class="cards">
		<div class="card-single">
			<div>
				<h2>50</h2>
				<small>Employer</small>
			</div>
			<div>
				<span class="fa fa-shopping-cart"></span>
			</div>
		</div>

		<div class="card-single">
			<div>
				<h2>+30</h2>
				<small>Entretiens</small>
			</div>
			<div>
				<span class="fa fa-newspaper-o"></span>
			</div>
		</div>


		<div class="card-single">
			<div>
				<h2>58</h2>
				<small>Partenariat</small>
			</div>
			<div>
				<span class="fa fa-outdent"></span>
			</div>
		</div>

		<div class="card-single">
			<div>
				<h2>87%</h2>
				<small>Taux de réussite</small>
			</div>
			<div>
				<span class="fa fa-group"></span>
			</div>

		</div>
	</div>

	<div class="composant">
	<div class="ventes">
		<div class="case">
			<div class="header-case">
				<h2>Listes des quiz</h2>
				<button class="button">voir plus <span class="fa fa-arrow-right"></span></button>
			</div>
			<div class="body-case">
				<div class="tableau">
					<table width="100%">
						<thead>
							<tr>
								<td>Quiz</td>
								<td>Niveau</td>
									<td>Sujet du quiz</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Quiz Php</td>
								<td>Junior</td>
								<td><span class="status-produit color-one"></span>Angular</td>
							</tr>
							<tr>
								<td>Quiz Java</td>
									<td>Intermédiaire</td>
								<td><span class="status-produit color-two"></span>JS</td>
							</tr>
							<tr>
								<td>Quiz JS</td>
									<td>Intermédiaire </td>
								<td><span class="status-produit color-three"></span>PHP</td>
							</tr>
							<tr>
								<td>Quiz Angular</td>
								<td>Pro</td>
								<td><span class="status-produit color-four"></span>CSS</td>
							</tr>
							<tr>
								<td>Quiz C#</td>
								<td>Junior</td>
									<td><span class="status-produit color-five"></span>PHP</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>


	<div class="stock">
		<div class="case">
			<div class="header-case">
				<h2>Employer</h2>
			</div>

			<div class="body-case">
				<div class="all-users">
					<div class="infos">
						<img decoding="async" src="Image/av1.png" width="30" height="30">
						<div>
							<h4>Julie</h4>
							<small>Chargé de recrutement</small>
						</div>
					</div>

					<div class="user-contact">
						<span class="fa fa-facebook"></span>
						<span class="fa fa-whatsapp"></span>
						<span class="fa fa-phone"></span>
					</div>
				</div>
				<div class="all-users">
					<div class="infos">
							<img decoding="async" src="Image/av2.png" width="30" height="30">
						<div>
							<h4>Thomas</h4>
							<small>Recruteur</small>
						</div>
					</div>

					<div class="user-contact">
						<span class="fa fa-facebook"></span>
						<span class="fa fa-whatsapp"></span>
						<span class="fa fa-phone"></span>
					</div>
				</div>
				<div class="all-users">
					<div class="infos">
							<img decoding="async" src="Image/av3.png" width="30" height="30">
						<div>
							<h4>Jack</h4>
							<small>Garde du corps</small>
						</div>
					</div>

					<div class="user-contact">
						<span class="fa fa-facebook"></span>
						<span class="fa fa-whatsapp"></span>
						<span class="fa fa-phone"></span>
					</div>
				</div>
				<div class="all-users">
					<div class="infos">
							<img decoding="async" src="Image/av4.png" width="30" height="30">
						<div>
								<h4>C.Posgagné</h4>
							<small>Stagiaire</small>
						</div>
					</div>

					<div class="user-contact">
						<span class="fa fa-facebook"></span>
						<span class="fa fa-whatsapp"></span>
						<span class="fa fa-phone"></span>
					</div>
				</div>
				<div class="all-users">
					<div class="infos">
							<img decoding="async" src="Image/av5.png" width="30" height="30">
						<div>
							<h4>Samantha</h4>
							<small>Assistante</small>
						</div>
					</div>

					<div class="user-contact">
						<span class="fa fa-facebook"></span>
						<span class="fa fa-whatsapp"></span>
						<span class="fa fa-phone"></span>
					</div>
				</div>


			</div>
			<button class="btn">voir plus <span class="fa fa-arrow-right"></span></button>
		</div>

	</div>


	<div class="statistiques">
		<div class="statistique-barre bar3"></div>
		<div class="statistique-barre bar2"></div>
		<div class="statistique-barre bar3"></div>
		<div class="statistique-barre bar4"></div>
		<div class="statistique-barre bar5"></div>
		<div class="statistique-barre bar6"></div>
		<div class="statistique-barre bar4"></div>
		<div class="statistique-barre bar5"></div>
		<div class="statistique-barre bar6"></div>
		<div class="statistique-barre bar4"></div>
		<div class="statistique-barre bar5"></div>
		<div class="statistique-barre bar6"></div>
	</div>


	<div class="legende">
		<h4>Legende</h4>
		<table>
			<tr>
				<td><span class="evolution color-one"></span>Rater</td>
			</tr>
			<tr>
				<td><span class="evolution color-two"></span>Réussis</td>
			</tr>
		</table>
		<div class="txt-deco">
			<p>Taux de bonne réponse et mauvaise réponse 
			</p>
		</div>
	</div>
</div>

<div class="calendar">
				<div class="mois-annee">
					<ul>
						<li class="prev">&#10094;</li>
						<li class="next">&#10095;</li>
						<li>Mai <br /> <span>2021</span></li>
					</ul>
				</div>

				<ul class="mois">
					<li>Mo</li>
					<li>Tu</li>
					<li>We</li>
					<li>Th</li>
					<li>Fr</li>
					<li>Sa</li>
					<li>Su</li>

				</ul>

				<ul class="jours">
					<li>1</li>
					<li>2</li>
					<li>3</li>
					<li>4</li>
					<li>5</li>
					<li>6</li>
					<li>7</li>
					<li>8</li>
					<li>9</li>
					<li>10</li>
					<li>11</li>
					<li>12</li>
					<li>13</li>
					<li>14</li>
					<li>15</li>
					<li>16</li>
					<li>17</li>
					<li><span class="active">18</span></li>
					<li>19</li>
					<li>20</li>
					<li>21</li>
					<li>22</li>
					<li>23</li>
					<li>24</li>
					<li>25</li>
					<li>27</li>
					<li>28</li>
					<li>29</li>
					<li>30</li>
					<li>31</li>

				</ul>
			</div>
		</main>


