@model FilRouge_Test_CodeFirst.Data.Entity.Quiz

@{
    ViewData["Title"] = "EditQuiz";
}

<h1 style="text-align : center">EditQuiz</h1>
<hr />
<div class="container w-50" style="margin-top: 100px;" id="addQ">
        <div class="row align-items-center justify-content-center" >
    @*<div class="col-md-4">*@
        <form asp-action="EditQuiz">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="QuizzId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sujet.SujetName" class="control-label">Nom du sujet</label>
                <input asp-for="Sujet.SujetName" class="form-control" />
                <span asp-validation-for="Sujet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level.LevelName" class="control-label">Nom du level</label>
                <input asp-for="Level.LevelName" class="form-control" />
                <span asp-validation-for="Level" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Questions">Nombre de question :</label>
                @Model.Questions.Count();

            </div>

            <div class="form-group d-flex justify-content-around">
                <input type="submit" value="Save" class="saveButton" />
           

                <a asp-action="AddQuestionQuiz" asp-route-id="@Model?.QuizzId" class="ajoutButton">Ajouter des Questions</a>

                <a asp-action="Index" class="backButton">Retour à la liste</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
