@model FilRouge_Test_CodeFirst.Data.Entity.Question

@{
    ViewData["Title"] = "Details";
}

<h1 style="text-align : center">Details</h1>

<div>
   
    <hr />

    <div class="container w-50" style="margin-top: 100px;" id="addQ">
        <dl class="row align-items-center justify-content-center">
        <dt>
           Contenu de la question
        </dt>

        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContentQuestion)
        </dd>
            <dt>
                Réponses : 
            </dt>

        <dd class="col-sm-10">
            @foreach (var rep in Model.AnswerChoice)
            {
               <dd> @rep.ContentCorection </dd>

            }
        </dd>
    </dl>

        <div class="form-group d-flex justify-content-around">
            <a asp-action="Edit" asp-route-id="@Model?.QuestionId" class="buttonAjout mb-3">Edit</a> 
            <a asp-action="Index" class="backButton mb-3">Retour à la liste</a>
        </div>
    </div>
</div>

